a img {
	width: 3em;
	top: 3em;
}

#header {
	opacity: 1;
	top: 0;
	background: #3e3e3e;
	height: 6em;
	vertical-align: bottom;
}

#nav {
	margin: 0;
	border: 0;
}

#nav li {
	margin: 0;
	display: block;
	float: left;
	color: aliceblue;
	display: inline-block;
	list-style: none;
	position: relative;
	vertical-align: bottom;
}

#nav a {
	display: block;
	float: left;
	padding: 1em;
	border-right: 1px solid #adc0ce;
	background: transparent;
	color: #29838c;
}

#nav a:hover {
	background: #adc0ce;
}

header nav ul li:hover {
	border-radius: 2em;
}

.avatarPhoto {
	border-radius: 5em;
	border: 0.5em solid rgb(59, 57, 57);
	width: 20em;
	background-color: rgb(59, 56, 56);
	margin-top: 5em;
	margin-left: 10em;
}

#musicPlayer {
	position: fixed;
	right: 0.5em;
	top: 0.5em;
	color: #3e3e3e;
}
